<form [formGroup]="formFilter">
  <div class="row">
    <div class="form-group col-sm-2">
      <select class="form-control" formControlName="category" (change)="emitSelectedCategoryByFilter()">
        <option value="">Categoría</option>
        <option [value]="category.attributes.dimension" *ngFor="let category of categoriesList">
          {{ category.attributes.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <select class="form-control" formControlName="company" (change)="emitSearchValuesByFilter()">
        <option value="">Compañia
        </option>
        <option [value]="company.id" *ngFor="let company of companiesList">
          {{ company.attributes.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <select class="form-control" formControlName="modality" (change)="emitSearchValuesByFilter()">
        <option value="">Modalidad</option>
        <option [value]="modality.id" *ngFor="let modality of modalitiesList">
          {{ modality.attributes.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <select class="form-control" formControlName="seniority" (change)="emitSearchValuesByFilter()">
        <option value="">Nivel</option>
        <option [value]="seniority.id" *ngFor="let seniority of senioritiesList">
          {{ seniority.attributes.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <select class="form-control" formControlName="city" (change)="emitSearchValuesByFilter()">
        <option value="">Localidad</option>
        <option [value]="city.id" *ngFor="let city of citiesList">
          {{ city.attributes.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <select class="form-control" formControlName="perk" (change)="emitSearchValuesByFilter()">
        <option value="">Beneficios</option>
        <option [value]="perk.id" *ngFor="let perk of perksList">
          {{ perk.attributes.name }}
        </option>
      </select>
    </div>
    <div class="form-group px-1" style="flex-grow: 1;">
      <input #inputSearchJob class="form-control" formControlName="searchJob"
      placeholder="Busca empleo por lo que quieras" />
    </div>
  </div>
</form>
