<br>
<div class=" col-lg-4 col-md-6 ml-auto mr-auto" style="text-align: center;" id="bienvenido">
    <h1 id="titleChangePassword">¿ Olvidaste tu contraseña ?</h1>
</div>

<div class="container mt--8 pb-5  ">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card  shadow border-0" [style]="darkTheme ? 'background: rgb(30 31 50)' : '' ">
                <div class="card-header bg-transparent pb-5">

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <p>Ingrese su correo</p>
                        </div>
                        <form role="form" [formGroup]="forgotPasswordForm">

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><em class="tim-icons icon-email-85"
                                                id="icon-email"></em></span>
                                    </div>
                                    <input class="form-control" formControlName='username' maxlength="50"
                                        placeholder="Email" autocomplete="off" type="email">
                                </div>
                                <div
                                    *ngIf="forgotPasswordForm.controls.username.invalid && forgotPasswordForm.controls.username.touched">
                                    <small id="validEmail" class="text-left"
                                        *ngIf="forgotPasswordForm.controls.username.errors?.email">
                                        Debe ingresar un Email valido</small>
                                    <small id="requiredEmail" class="text-left"
                                        *ngIf="forgotPasswordForm.controls.username.errors?.required">
                                        Se requiere ingresar Email</small>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="btn-change-password" class="btn btn-primary mt-4"
                                    (click)="resetPassword()" [disabled]="forgotPasswordForm.invalid">Recuperar
                                    Contraseña</button>
                                <a id="btnBack" type="button" class="btn btn-primary mt-4"
                                    [routerLink]="['/login']">Atras</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>