<div bsModal class="modal fade" #modalJobDetail="bs-modal" tabindex="-1" role="dialog" (onHidden)="onHidden()"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content card">
            <div class="modal-header">
                <h5>{{inputJob?.attributes?.title}}</h5>
                <button type="button" class="btn-close close pull-right close" aria-label="Close"
                    (click)="modalJobDetail.hide()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <tabset>
                        <tab heading="Empleo" class="mt-2" customClass="custom-tab">
                            <div class="container-fluid">
                                <h5 class="mt-3">{{inputJob.attributes.description_headline}}</h5>
                                <div [innerHTML]="inputJob.attributes.description"></div>

                                <h5 class="mt-3">{{inputJob.attributes.functions_headline}}</h5>
                                <div [innerHTML]="inputJob.attributes.functions"></div>

                                <h5 class="mt-3">{{inputJob.attributes.benefits_headline}}</h5>
                                <div [innerHTML]="inputJob.attributes.benefits"></div>

                                <h5 class="mt-3">{{inputJob.attributes.desirable_headline}}</h5>
                                <div [innerHTML]="inputJob.attributes.desirable"></div>

                                <h5 class="mt-3">Trabajo Remoto</h5>
                                <p> {{inputJob.attributes.remote ? 'Si' :'No'}}</p>

                                <div *ngIf="inputJob.attributes.remote">
                                    <h5 class="mt-3">Zona de trabajo</h5>
                                    <p> {{inputJob.attributes.remote_zone}}</p>
                                </div>

                                <h5 class="mt-3">Idioma </h5>
                                <p>{{inputJob.attributes.lang == 'lang_not_specified' ?
                                    'No Especificado' : inputJob.attributes.lang}}</p>

                                <h5 class="mt-3">Salario Mínimo</h5>
                                <p>
                                    {{inputJob.attributes.min_salary ? inputJob.attributes.min_salary : 'No
                                    Especificado'}}
                                </p>

                                <h5 class="mt-3">Salario Máximo</h5>
                                <p>
                                    {{inputJob.attributes.max_salary ? inputJob.attributes.max_salary : 'No
                                    Especificado'}}
                                </p>

                                <div *ngIf="inputJob.attributes.modality?.data?.attributes?.name">
                                    <h5 class="mt-3">Modalidad</h5>
                                    <p> {{inputJob.attributes.modality?.data?.attributes?.name}}</p>
                                </div>


                                <div *ngIf="inputJob.attributes.seniority?.data?.attributes?.name">
                                    <h5 class="mt-3">Seniority</h5>
                                    <p> {{inputJob.attributes.seniority?.data?.attributes?.name}}</p>
                                </div>
                            </div>
                        </tab>

                        <tab heading="Compañia" class="mt-2" customClass="custom-tab">
                            <div class="container-fluid">
                                <div class="d-flex justify-content-around  mb-3">
                                    <div class="p-2 align-self-center">
                                        <h2 class="title mt-3">{{inputJob.attributes.company.data.attributes.name}}</h2>
                                    </div>
                                    <div class="p-2">
                                        <a href="{{inputJob.attributes.company.data.attributes.web}}" target="_blank">
                                            <img src="{{inputJob.attributes.company.data.attributes.logo}}" />
                                        </a>
                                    </div>
                                </div>

                                <h5 class="mt-3">Descripción</h5>
                                <div [innerHTML]="inputJob.attributes.company.data.attributes.long_description"></div>

                                <h5 class="mt-3">Projectos</h5>
                                <div [innerHTML]="inputJob.attributes.company.data.attributes.projects"></div>

                                <h5 class="mt-3">Beneficios</h5>
                                <div [innerHTML]="inputJob.attributes.company.data.attributes.benefits"></div>

                                <div class="d-flex justify-content-around  mb-3">
                                    <h5 class="mt-3">Redes</h5>
                                </div>
                                <div class="d-flex justify-content-around  mb-3">
                                    <div class="p-2 align-self-center"
                                        *ngIf="inputJob.attributes.company.data.attributes.github">
                                        <a href="https://github.com/{{inputJob.attributes.company.data.attributes.github}}"
                                            tooltip="GitHub" target="_blank">
                                            <i class="fa-brands fa-github fa-xl"></i>
                                        </a>
                                    </div>
                                    <div class="p-2 align-self-center"
                                        *ngIf="inputJob.attributes.company.data.attributes.twitter">
                                        <a href="https://twitter.com/{{inputJob.attributes.company.data.attributes.twitter}}"
                                            tooltip="Twitter" target="_blank">
                                            <i class="fa-brands fa-twitter  fa-xl"></i>
                                        </a>
                                    </div>

                                    <div class="p-2 align-self-center"
                                        *ngIf="inputJob.attributes.company.data.attributes.facebook">
                                        <a href="https://www.facebook.com/{{inputJob.attributes.company.data.attributes.facebook}}"
                                            tooltip="Facebook" target="_blank">
                                            <i class="fa-brands fa-facebook  fa-xl"></i>
                                        </a>
                                    </div>

                                    <div class="p-2 align-self-center"
                                        *ngIf="inputJob.attributes.company.data.attributes.web">
                                        <a href="{{inputJob.attributes.company.data.attributes.web}}" target="_blank"
                                            tooltip="Pagina Web">
                                            <i class="fa-solid fa-building  fa-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>